@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/* pierwsza strona */

:root {
    --main-font: Roboto, sans-serif;
    --background-color: #FFFFFF;
    --main-text-color: #212121;
    --elements-color: #2196F3;
    --pure-black-color: #000000;
    --mail-and-numeber-color: #757575;
    --dark-background-color: #2F303A;
    --white-letters: #FFFFFF;
    --light-text-color: #757575;
    --main-background-color: #E5E5E5;
    --icon-color: #afb1b8;
    --footer-text-color: #rgba(255, 255, 255, 0.6);
    --team-section: #F5F4FA;
    --footer-adress-color: #FFFFFF;
}

body {
    font-family: var(--main-font);
    color: var(--main-text-color);
    background-color: var(--background-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

a {
    text-decoration: none;
}


.first-class {
    background: var(--dark-background-color);
}

.main-page-text {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-letters);
    text-align: center;
}

.first-button {
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    font-family: inherit;
}

.button-position {
    text-align: center;
}

.first-button:hover {
    background-color: #2196F3;
    color: var(--footer-adress-color)
}

.first-button:focus {
    background-color: #2196F3;
    color: var(--footer-adress-color)
}

.header-ho-ver :hover {
    color: var(--elements-color);
}

.header-ho-ver :focus {
    color: var(--elements-color);
}

.footer-ho-ver :hover {
    color: var(--elements-color);
}

.footer-ho-ver :focus {
    color: var(--elements-color);
}

.agency-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.agency-color:focus {
    color: var(--elements-color);
}

.agency-color:hover {
    color: var(--elements-color);
}

.portfolio-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.contact-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.mail-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--mail-and-numeber-color)
}

.mail-color:focus {
    color: var(--elements-color);
}

.mail-color:hover {
    color: var(--elements-color);
}

.mail-color-bot {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.number-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}


.number-color-bot {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.first-half-webstudio {
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.first-half-bot {
    color: var(--elements-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.second-half-webstudio-bot {
    color: var(--footer-adress-color);
}

.second-half-webstudio {
    color: var(--pure-black-color);
}

.second-half-bot {
    color: #FFFFFF;
}


.second-class h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-transform: uppercase;
}

.second-class p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--light-text-color);
    letter-spacing: 0.03em;
}

.photos-section h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
}

.our-team {
    background-color: var(--team-section);
}

.our-team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
}

.our-team h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color)
}

.our-team p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.bottom-foot {
    background-color: var(--dark-background-color);
}

/* druga strona */


.header-ppage :hover {
    color: var(--elements-color);
}

.header-ppage :focus {
    color: var(--elements-color);
}

.all-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    font-family: inherit;
}

.pages-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    font-family: inherit;
}

.apps-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    font-family: inherit;
}

.design-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    font-family: inherit;
}

.marketing-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    font-family: inherit;
}

.all-buttons li :hover {
    background-color: var(--elements-color);
    color: var(--footer-adress-color);
}


.agency-ppage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.portfolio-ppage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color)
}

.contact-ppage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.mail-ppage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--mail-and-numeber-color);
}

.number-ppage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--mail-and-numeber-color);
}

.adress-ppage {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--background-color);
}

.adress-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--background-color)
}

/** koniec header /\ **/

.photos h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.photos p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-text-color)
}

.mail-color-foot-ppage {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.number-foot-ppage {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.adress-fopt-ppage {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.buttons-ppage :hover {
    color: #2196F3;
}

/* Ogólne */

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}