@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/* pierwsza strona */

:root {
    --main-font: roboto, sans serif;
    --background-color: #FFFFFF;
    --main-text-color: #212121;
    --elements-color: #2196f3;
    --pure-black-color: #000000;
    --mail-and-numeber-color: #757575;
    --dark-background-color: #2F303A;
    --white-letters: #FFFFFF;
    --light-text-color: #757575;
    --main-background-color: #E5E5E5;



}

body {
    font-family: var(--main-font);
}

a {
    text-decoration: none;
}

.header-frame {
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    display: inline;
    background-color: var(--background-color);
}

.main-slogan {
    background: var(--dark-background-color);
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    text-align: center;
}

.slogan-color {
    padding: 200px 452px 280px 452px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-letters)
}

.slogan-frame {
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
}

.first-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background:#2196F3 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196F3;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.button-frame {
    padding: 350px 700px 200px 700px;
}

.agency-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-color)
}

.agency-color:focus {
    color:var(--elements-color);
}

.agency-color:hover {
    color:var(--elements-color);
}

.portfolio-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.contact-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.mail-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--mail-and-numeber-color)
}

.mail-color:focus {
    color: var(--elements-color);
}

.mail-color:hover {
    color: var(--elements-color);
}

.mail-color-bot {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.number-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}


.number-color-bot {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.first-half-webstudio {
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.second-half-webstudio {
    color:#000000;

}

.second-half-webstudio-bot {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}


.second-class h2 {
    font-weight: 700;
    size: 14px;
    line-height: 16.41px;
    color: var(--main-text-color);
    text-transform: uppercase;
}

.second-class p {
    font-weight: 400;
    size: 14px;
    line-height: 24px;
    color: var(--light-text-color);
}

.photos-section {
    background-color: var(--main-background-color);
    width: 1600px;
}

.photos-section h2 {
    font-weight: 700;
    size: 36px;
    text-align: center;
    color: var(--main-text-color);
}

/* druga strona */



.agency-color-ppage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.portfolio-color-ppage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--elements-color);
}

.portfolio-color-ppage:hover {
    color: var(--elements-color)
}

.portfolio-color-ppage:focus {
    color: var(--elements-color)
}

.contact-color-ppage {
font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.mail-color-ppage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.number-color-ppage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}


.adress-color {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.bottom-color {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: var(--dark-background-color);
}

.foot-ppage {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: var(--dark-background-color);
}

.mail-color-foot-ppage {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
}

.number-foot-ppage {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.adress-foot-ppage {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* Ogólne */

button {
    background-color: lightgray;
    width: 77px;
    height: 26px;
    cursor: pointer;
    
}

button:hover {
    background-color: #2196F3;
}

button:focus {
    background-color: #2196F3;
}


li {
    list-style-type: none;
}



.navigation {
    font-size: 14px;
}